{% extends '../base.html' %}

{% load static %}

{% block content %}
<div class="row">
    <h2>Detect Barcodes</h2>
    <p>
        Please check README of the <a href="https://github.com/py404/Django-OpenCV-Barcodes" target="_blank">project here</a> before you run this django application.<br />
        There are some notes like: <br />
        1. Adding a dotevn file<br />
        2. Adding key, value pairs to the .env<br />
        3. Generating a secret key for your django application
    </p>
    <hr />

    {% if cam_status %}
    <h3>Camera stream status: connected</h3>
    <img src="{% url 'camera_feed' %}" style="width: 640px; height: 480px;" />
    {% else %}
    <h3>Camera stream status: Camera is either not accessible or busy</h3>
    <h5>Things to check:</h5>
    <ul class="text-right list-inline">
        <li>USB connection?</li>
        <li>Camera number in your .env file?</li>
        <li>Camera is already in use?</li>
    </ul>
    {% endif %}
</div>
{% endblock content %}