[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
opencv-python = "*"
pyzbar = "*"
numpy = "*"
python-dotenv = "*"
treepoem = "*"

[requires]
python_version = "3.7"
